.bar {
	display: block;
	background-color: #b4bec9;
	width: 60%;
	height: 30%;
	flex-shrink: 0;
	border-radius: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Quicksand';
}

.question {
	text-align: center;
	color: #002333;
	font-size: 32px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media (max-width: 1310px) {
	.bar {
		height: 20%;
	}
	.question {
		font-size: 20px;
	}
}
